<div
  class="flex justify-between p-2 bg-white border border-[#D9D8DA)] rounded-lg w-full"
>
  <img
    src="https://touchmile.blob.core.windows.net/clickwins/Lotteries/ab6f963f-6d08-4ea0-a564-fa77975f8d95jpeg"
    alt="offer sweepstouch"
    class="w-20 h-20 rounded-md"
  />
  <div class="flex flex-col justify-between">
    <p class="block medium">
      Beetroot (Local Shop)<span class="block text-xs text-[#AEAEB3]"
        >500 mg</span
      >
    </p>
    <p class="medium">15% OFF</p>
  </div>
</div>
