<section
  class="max-w-[615px] bg-[#EDECEE] p-4 flex flex-col items-center justify-center gap-4 rounded-b-[40px]"
>
  <div>
    <img [src]="imgUrl" alt="supermarket logo" class="rounded-full w-24 h-24" />
  </div>

  <div>
    <p class="bold text-base leading-4">{{ name }}</p>
    <span class="text-sm">Vegetable* Superfood* Grocery</span>

    <p class="mt-4">{{ address }}</p>
  </div>
  <div class="flex gap-3 flex-wrap justify-center">
    @for (icon of socialIcons; track icon) {
    <a
      href="{{ icon.url }}"
      class="w-9 h-9 flex justify-center items-center bg-white border border-[#D9D8DA] rounded-lg mb-4"
    >
      <img src="{{ icon.img }}" alt="" />
    </a>
    }
  </div>
</section>
