<section class="w-full max-w-[615px] flex flex-col gap-6 p-4">
  <div class="flex justify-between items-center text-[#AEAEB3]">
    <!-- <p>Social Media</p>
    <p>Offers</p> -->
    <p class="text-black bold">Daily Offers</p>
  </div>
  <!-- <div class="flex flex-col flex-wrap gap-2">
    <offer></offer>
    <offer></offer>
    <offer></offer>
    <offer></offer>
  </div> -->
  <div class="w-full h-auto">
    <embed
      [src]="trustedUrl"
      type="application/pdf"
      frameBorder="0"
      scrolling="auto"
      class="min-h-screen w-full rounded-lg"
    />
  </div>
</section>
